.red-text {
    color: red;
}

.error {
    margin: 10px 10px 10px 0px;
    font-family: 'Roboto';
    font-size: 15px;
}
label {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
}

.field-input {
    width: 100%;
    padding-left: 15px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    background-color: transparent;
}

.field-input:focus {
    border: none;
    border-bottom: 1px solid #009688;
    outline: none;
    box-shadow: 0 1px 0 0 #26a69a;
}