.pull-right {
  float: right !important;
}
.contact-btn {
  width: 60%;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 25px;
  padding: 0;
}

#contact-form {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  background: #F4F4F4;
  padding: 20px 20px 10px 20px;
  margin: 20px 10px;
}

@media only screen and (max-width: 767px) {
  .contact-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}