.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
}

.card:hover {
    box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
}

.item-title {
    overflow-wrap: break-word;
    font-size: 35px;
    font-family: Verdana;
    text-align: center;
    margin-top: 10px;
    color: #333;
}

.card-text {
    font-size: 25px;
    font-family: Sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    color: #333;
}

.survey-loops {
    font-size: 15px;
    margin: 10px 0 15px 25px;
}

.survey-created {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.card-data {
    padding-left: 20px;
    padding-top: 10px;
}

.card-data a {
    padding-right: 10px;
    font-size: 18px;
    color: #3066BE;
}

.card-data a:hover {
    text-decoration: none;
}

.delete-survey {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 105px;
    font-size: 20px;
}

.nav-link {
    cursor: pointer;
}

@media only screen and (max-width: 430px) {
    li.nav-item {
        margin-left: 10px;
    }
}
