.survey-review {
    margin: 50px auto;
    padding: 20px 30px;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.header {
    text-decoration: underline;
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
}
.review-fields {
    margin-bottom: 10px;
}
.form-value {
    font-size: 20px;
    font-family: 'Roboto';
    margin-left: 15px;
}
.form-label {
    font-size: 25px;
    font-family: 'Roboto';
}