.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  height: 60px;
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid rgba(0,0,0,0.2);
}

.contact-info {
  display: inline-block;
  padding-top: 20px;
  font-size: 16px;
  font-family: 'Roboto', 'Sans-serif';
  width: 100%;
}

a {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}