.survey-form {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 40px auto;
    width: 75%;
    padding: 40px 30px;
}
.pull-right {
    float: right !important;
}

.btn-lg {
    margin-top: 25px;
}